<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:replace="commonPages/header :: header"></th:block>
<h2>save.html</h2>
<form action="/board/save" method="post" enctype="multipart/form-data">
    글 제목<input type="text" name="boardTitle"><br/>
    작성자<input type="text" name="boardWriter"><br/>
    글내용<input type="text" name="boardContents"><br/>
    <input type="submit" value=글작성>
</form>

</body>
</html>